{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Contacto</h2>
    <p>¡Bienvenido estudiante de la Universidad de Playa Ancha (UPLA)!</p>
    <p>Para cualquier consulta o información adicional, no dudes en contactarnos.</p>
    <p>Puedes encontrarnos en:</p>
    <ul>
        <li><strong>Dirección:</strong> Av. Leopoldo Carvallo 270, Playa Ancha, Valparaíso, Chile</li>
        <li><strong>Teléfono:</strong> +56 32 250 8000</li>
        <li><strong>Correo electrónico:</strong> info@upla.cl</li>
    </ul>
    <p>Recuerda que en la UPLA estamos comprometidos con brindarte la mejor experiencia académica.</p>
    <p>Además, si necesitas información sobre el gobierno de Chile, te recomendamos visitar el sitio web oficial:</p>
    <p><a href="https://www.gob.cl/">https://www.gob.cl/</a></p>
</section>
{% endblock %}
