{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Datos de Consumo Eléctrico (Aleatorios)</h2>
    <table>
        <thead>
            <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Tipo de Clientes</th>
                <th>Tarifa</th>
                <th>Clientes Facturados</th>
                <th>E1 kWh</th>
                <th>E2 kWh</th>
                <th>Energía kWh</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos[:10] %}  {# Limitar a los primeros 10 elementos #}
                <tr>
                    <td>{{ item.anio }}</td>
                    <td>{{ item.mes }}</td>
                    <td>{{ item.region }}</td>
                    <td>{{ item.comuna }}</td>
                    <td>{{ item.tipo_clientes }}</td>
                    <td>{{ item.tarifa }}</td>
                    <td>{{ item.clientes_facturados }}</td>
                    <td>{{ item.e1_kwh }}</td>
                    <td>{{ item.e2_kwh }}</td>
                    <td>{{ item.energia_kwh }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('download_csv') }}" class="btn-download">Descargar Excel</a>
</section>
{% endblock %}
