{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Página de inicio</h2>
    <p>Bienvenido a mi sitio web.</p>
</section>

<section>
    <h2>Tipos de Facturación en Chile sobre Consumo Eléctrico</h2>
    <p>En Chile, los tipos de facturación sobre el consumo eléctrico pueden variar dependiendo del tipo de suministro eléctrico, la distribuidora y el contrato específico. Algunos de los tipos de facturación más comunes incluyen:</p>
    <ul>
        <li>Tarifa BT4 (Baja Tensión 4)</li>
        <li>Tarifa BT5 (Baja Tensión 5)</li>
        <li>Tarifa MT (Media Tensión)</li>
        <li>Tarifa AT (Alta Tensión)</li>
        <li>Tarifa Horaria</li>
        <li>Tarifa Estacional</li>
        <li>Tarifa por Bloques de Consumo</li>
    </ul>
    <p>Es importante tener en cuenta que estas son solo algunas de las tarifas más comunes en Chile y que pueden existir otras variaciones y combinaciones dependiendo de la regulación local y los acuerdos individuales entre los clientes y las distribuidoras eléctricas. Se recomienda consultar con la distribuidora eléctrica local o con un experto en el tema para obtener información específica sobre las tarifas disponibles en tu área.</p>
</section>

<section>
    <img src="https://www.enel.cl/content/enel-cl/es/megamenu/clientes/informacion-util/entendiendo-mi-boleta/_jcr_content/article-content/image_1013901209_cop.img.png/1639055418916.png" alt="Imagen de la boleta">
</section>
{% endblock %}
